/* =========================================================
   ESTILO GENERAL
   ========================================================= */

@font-face {
  font-family: "Linux Libertine";
  src: url("../fonts/LinLibertine_R.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("../fonts/LinLibertine_RI.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("../fonts/LinLibertine_RB.otf") format("opentype");
  font-weight: 700;
}

body {
  background-color: #fff;
  font-size: 100%;
  line-height: 1.45;
  font-family: "Linux Libertine", "Optima", "Helvetica", "Arial", serif;
  color:#454545;
  font-weight:300;
  margin:0;
}

h1 {
  margin-top: 2.5em !important;
  margin-bottom: 0.8em;
  color:#B01131;
  font-size: 200%;
  font-weight: 300;
  font-family: "Linux Libertine", serif;
}

.firstheader {
  margin-top: 0em;
}

h2, h3, h4, h5, h6 {
  margin: 1.5em 0 .5em 0;
  font-weight: 300;
  font-size: 150%;
  font-family: "Linux Libertine", serif;
}

p {
  margin: 0 0 1em;
}

ul, ol, table, pre, dl {
  margin: 0 0 .5em;
  list-style-type: none;
}

section li {
  margin: 0 0 .5em -5.5ex;
}

a {
  color:#B01131;
  text-decoration:none;
}

a:hover {
  color:#272727;
}

img {
  max-width:100%;
}

.wrapper {
  width:860px;
  margin:0 auto;
}


/* =========================================================
   HEADER IZQUIERDO (ESCRITORIO)
   ========================================================= */

header {
  width:320px;
  float:left;
  position:fixed;
  top:40px;
  -webkit-font-smoothing:subpixel-antialiased;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: .1em;
}

/* Menú escritorio */
#menu-desktop {
  list-style:none;
  padding: 0;
  margin: 0;
  width:320px;
}

#menu-desktop li {
  font-family: "Linux Libertine", serif;
  font-weight: 300;
  font-size: 110%;
  float:left;
  display:block;
  text-align:left;
  margin: 0 1.5ex 0 0;
}

#menu-desktop li a {
  color: #595959;
}

#menu-desktop li a:hover {
  color: #B01131;
}


/* =========================================================
   MENU HAMBURGUESA (MÓVIL + TABLET)
   ========================================================= */

#hamburger {
  display: none;
  font-size: 34px;
  cursor: pointer;
  margin-top: 12px;
}

#menu-mobile {
  display: none;
  text-align: center;
  transition: all 0.25s ease;
}

#menu-mobile ul {
  list-style: none;
  padding: 0;
}

#menu-mobile li {
  margin: 12px 0;
  font-size: 120%;
}

#menu-mobile a {
  color: #595959;
}


/* =========================================================
   COLUMNA DE CONTENIDO
   ========================================================= */

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

code, pre {
  font-family: Monaco, Consolas, monospace;
}


/* =========================================================
   FOOTER
   ========================================================= */

small { font-size:11px; }

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:320px;
  float:left;
  position:fixed;
  bottom:50px;
}


/* =========================================================
   PLAYLISTS: TARJETAS ESTILIZADAS
   ========================================================= */

.playlistbox {
  margin: 35px 0;
  padding: 20px;
  background: #fcfcfc;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.playlistbox h3 {
  text-align: center;
  margin-bottom: 18px;
  color: #333;
  font-size: 120%;
  font-family: "Linux Libertine", serif;
}

.playlistbox p {
  text-align: center;
  color: #777;
  font-size: 90%;
  margin-top: 8px;
}

.playlistbox iframe {
  border: none;
  width: 100%;
  height: 380px;
  border-radius: 12px;
}


/* =========================================================
   RESPONSIVE GENERAL (<960px)
   ========================================================= */

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
}


/* =========================================================
   MODO MÓVIL + TABLET (<720px)
   ========================================================= */

@media screen and (max-width: 720px) {

  header {
    position: static !important;
    width: 100% !important;
    text-align: center;
    margin-bottom: 10px !important;
  }

  header h1 {
    margin-top: 20px !important;
    margin-bottom: 8px !important;
    font-size: 180%;
  }

  #hamburger {
    display: block !important;
  }

  #menu-desktop {
    display: none !important;
  }

  section {
    width: 100% !important;
    float:none !important;
    padding: 0 3% !important;
  }

  section h1 {
    margin-top: 1em !important;
  }

  .playlistbox iframe {
    height: 300px;
  }

  footer {
    position: static !important;
    width: 100% !important;
    text-align:center;
    margin-top: 30px;
  }

  .wrapper {
    width: 95% !important;
    margin: 0 auto !important;
  }
}
