<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Regina Weber</title>
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://reginaweber.github.io/">REGINA WEBER</a></h1>
        <p>Rhine-Waal University
        <br>Faculty of Society and Economics
        <br>Marie-Curie-Str. 1
        <br>D 47533 Kleve
        <br><a href="mailto:#">regina.weber@hochschule-rhein-waal.de</a></p>
        <p></p>
        <p></p>
        <ul><li><a href="http://reginaweber.github.io/research.html">RESEARCH</a></li>
          <li><a href="http://reginaweber.github.io/publication.html">PUBLICATION</a></li>
          <li><a href="http://reginaweber.github.io/teaching.html">TEACHING</a></li>
        </ul>
        <!--<h3><a href="http://reginaweber.github.io/research.html">RESEARCH</a></br>
          <a href="http://reginaweber.github.io/teaching.html">TEACHING</a></br>
          <a href="http://reginaweber.github.io/publication.html">PUBLICATION</a></h3> -->
        <br/><br>
      
</header>
<section>
{{ content }}
 </section>
      <footer>
        <p><a href="https://twitter.com/elisasdottir" target=_blank><img src="img/tw.png" alt="Twitter" height="25"></a>&nbsp;
        <a href="https://scholar.google.de/citations?user=zy_v4OYAAAAJ&hl=en" target=_blank><img src="img/gs.png" alt="Google Scholar" height="25"></a>&nbsp;
        <a href="https://www.researchgate.net/profile/Regina_Weber" target=_blank><img src="img/rg.png" alt="Researchgate" height="25"></a></p>
        <p><small>Hosted on GitHub. Theme based on <a href="https://github.com/orderedlist">orderedlist</a>.</small></p>
      </footer>
    </div>
    <script src="javascripts/sf.js"></script>
  </body>
</html>
